@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import "tailwindcss";

* {
  box-sizing: border-box;
}

.light {
  --color-bg: #ffffff;
  --calor-bg-black: #0a0a0a;
  --color-bg-footer: #333;
  --color-bg-rodape: #3e3e3e;
  --color-bg-cards: #f1f1f1;
  --color-text: #111111;
  --color-text-white: #ffffff;
  --color-text-white-hover: #bbbbbb;
  --color-button: #1f2937;
  --color-button-hover: #6b7280;
}

.dark {
  --color-bg: #030303;
  --calor-bg-black: #0a0a0a;
  --color-bg-footer: #333;
  --color-bg-rodape: #3e3e3e;
  --color-bg-cards: #101010;
  --color-text: #ffffff;
  --color-text-white: #ffffff;
  --color-text-white-hover: #bbbbbb;
  --color-button: #1f2937;
  --color-button-hover: #6b7280;
}

body,
html,
input,
label,
select {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 30px 16px;
}

h2 {
  font-size: 40px;
  margin-bottom: 50px;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--color-text-white-hover);
}

p {
  font-size: 0.9rem;
}

.icon {
  color: var(--color-text-white);
  font-size: 30px;
}

.icon:hover {
  color: var(--color-text-white-hover);
}

.page {
  background-image: url("/app/assets/images/fundo-paginas-febrabantech.png");
  background-size: contain;
  background-repeat: repeat-y;
  background-position: center;
  min-height: 80vh;
  color: var(--color-text);
  background-color: var(--color-bg);
}

@media (max-width: 1024px) {
  h2 {
    font-size: 25px;
    margin-bottom: 30px;
  }
}