.redeSocialFooter {
  padding: 40px 16px;
  background-color: var(--color-bg-footer);
  color: var(--color-text-white);
}

.linkFooter {
  background-color: var(--color-bg-rodape);
  color: var(--color-text-white);
}