.containerSobre {
  display: flex;

  .imgSobre {
    height: 300px;
    width: 300px;
  }

  .dataSobre {
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-size: 40px;
    font-weight: 600;
    line-height: 39px;
    flex: 0 0 20%;
  }

  .divisorVertcal {
    width: 2px;
    height: 100%;
    background-color: #878787;
    margin: 0 30px;
  }

  .descriptionSobre {
    display: flex;
    flex: 1;
  }
}